<IfModule mod_rewrite.c>
    RewriteEngine on

    # Redirigir todas las solicitudes al directorio "public"
    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ /public/$1 [L]

    # Redirigir las solicitudes a index.php en el directorio "public"
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /public/index.php [L]
</IfModule>
