.button-container{
    display: flex;
    justify-content: flex-start;
    margin: 6rem;
}
.subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 6rem;
}
h3{
    font-size: medium;
}
.table-container{
    width: 100%;
}
